@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

@keyframes spinRevert {
  from { transform: rotateY(360deg); }
  to { transform: rotateY(0deg); }
}

#drag-container {
  touch-action: none;
  transform-style: preserve-3d;
  overflow: auto;
}

body {
  background: #111;
}

html, body {
  overflow-x: hidden;
}

#drag-container {
  max-width: 100%;
}

#spin-container {
  max-width: 100%;
  overflow: visible; /* do not clip items placed with translateZ */
  transform-style: preserve-3d;
}

#spin-container img, #spin-container video {
  margin: 0 10px;
  backface-visibility: hidden;
  transform-origin: center center;
}